In [1]:
import pandas as pd
import numpy as np
  
data = pd.read_csv('Naive-Bayes-Classification-Data.csv')

In [2]:
data.dropna(inplace=True)
data

     glucose  bloodpressure  diabetes
0         40             85         0
1         40             92         0
2         45             63         1
3         45             80         0
4         40             73         1
..       ...            ...       ...
990       45             87         0
991       40             83         0
992       40             83         0
993       40             60         1
994       45             82         0

[995 rows x 3 columns]

In [3]:
x = data.iloc[:,:-1].values 
y = data.iloc[:,-1].values

In [4]:
from sklearn.model_selection import train_test_split  

x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= .3)

In [6]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)

y_pred=model.predict(x_test)

In [7]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9364548494983278